 html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: sans-serif;

}


  /*error message styles*/
  #error-message{
    
   color:red;
  }

  /*end error message styles*/

/*Styles for form*/

form{
  width: 300px; 
  height: 200px; 
  margin: 0 auto;
  padding-top:20%;
  }

  #myForm{

    
    text-align: center;   
  }

  #password{

    margin-top:0.5em;
    margin-left:0.3em;
  }

  #user, #password{
    
    border: 1px solid black;
    padding:3px;
    text-align:center;
  }

  #button{

    margin-top:0.5em;
    background-color:black;
    color:white;
    border:none;
    padding:7px;
  }
  /*End styles for form*/

  /*Styles for table*/

  #myTable {
    visibility: hidden;
    position:relative;
    top:20%;
    border: 1px solid black;
    border-collapse: collapse;
  }

   #myTable th, #myTable td {

    border: 1px solid black;
    border-collapse: collapse;
	  padding:3px;
  }
  /*End styles for table*/

  
  
