 html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: sans-serif;

}

form{
  width: 300px; 
  height: 200px; 
  margin: 0 auto;
  padding-top:20%;
  }


  /*error message styles*/
  #error-message{
    
   color:red;
  }

  #myForm{

    display: block;
  }

  #myTable{

    border: 1px solid black;
  }
  
